<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculos</title>
</head>
<style>

    body{
  
      background-color: blueviolet;
    }
  
    header{
    
      background-color: aquamarine;
    
      }
    
    nav{
      background-color: black;
    } 
  
    
    main{
      min-width: 300px;
      max-width: 1000px;
      background-color: white;
      margin: auto;
      padding: 20px;
      box-shadow: 2px 15px 15px rgba(0, 0, 0, 0.493);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 20px;
      display: block;
      text-align: justify;
   }
  
   main h1 ,h2{
    color:cyan;
    text-align: center;
    
    
   }
  
   main p{
    text-indent: 30px;
   }
  
    footer{
   background-color: rgb(26, 143, 189);
   text-align: center;
   color: white;
   margin-bottom: 20px;
   padding: 20px;
  
   }
    
    </style>
  
  <body>
    
 
  <header></header>
  
  <nav></nav>
  
  <Main>
  
  
  
  <h1>EQUILÍBRIO OPERACIONAL DO TRATOR</h1>
  
  <p>Este é um simples resumo técnico sobre a relação peso/potência, onde mostra a correta instalação e distribuição de contrapesos metálicos/água e das pressões de inflação de pneus. A observância das recomendações dos fabricantes contribuirá com a melhor performance dos equipamentos (trator/implemento), mantendo uma velocidade de trabalho mais constante e a rotação do motor mais uniforme.</p>
  
  <p>Os pontos de maior relevância para conseguir melhor rendimento mediante a instalação de lastro e o uso de pressões de inflação corretas de acordo com as orientações dos fabricantes, são:</p>
  
  <ul>
    <ol>Alcançar máxima eficiência no consumo de combustível, produtividade e qualidade de velocidade.</ol>
    
    <ol>Reduzir o rendimento baixo causado por excesso de peso e distribuição de pesos inapropriados.</ol>
    
    <ol>03 -Ajustar as pressões de inflação dos pneus para chegar às condições de trabalho.</ol>
    
    <ol>04 -Controlar o galope com lastro e pressões de inflação dos pneus corretas.</ol>
    
    <ol>05 -Redução da compactação do solo.</ol>
    
    <ol>06 -Redução das quebras do sistema mecânico.</ol>
    
    <ol>07 -Redução dos custos operacionais.</ol>
  </ul>
  
  <p>A instalação de lastro apropriado e da correta pressão dos pneus são condições muito importantes para MAXIMIZAR a produtividade e rendimento do trator/equipamento. Um trator que está corretamente adaptado ao trabalho se comporta bem, tem um bom consumo de combustível e uma longa vida útil do trem de forças (engrenagens) e dos pneus.</p>
  
  <h2>PREPARANDO O TRATOR</h2>
  
  <p>A máxima produtividade pode ser alcançada somente quando o trator estiver adequadamente ajustado. Considere na utilização dos equipamentos (trator/Implemento), os seguintes fatores:</p>
  
  <ul>
    <ol>01 - Tipo de operação (preparo, plantio, cultivo, transbordo)</ol>
    
    <ol>02 - Condição do solo</ol>
    
    <ol>03 - Operação em desnível</ol>
    
    <ol>04 - Velocidade de operação desejada.</ol>
    
    <ol>05 - Tamanho dos pneus montados nos tratores.</ol>
  </ul>
  
  <p>Para cada tipo de operação, o trator deve ter lastro suficiente para puxar o implemento a ser utilizado no momento. Adicione somente lastro suficiente para puxar a carga requerida para uma boa performance e nunca ultrapasse o peso máximo do trator indicado pelo fabricante, considere ainda, que a pressão de inflação dos pneus fique de acordo com a carga nos eixos.</p>
  
  <h2>AJUSTANDO LASTRO PARA TRABALHAR COM CARGA</h2>
  
  <p>Alguns fatores determinantes a considerar quando se lastreia o trator:</p>
  <ul>
    
    <ol>01 - Características físicas do solo trabalhado (compactado, solto, arenoso, úmido);</ol>
    
    <ol>02 -Tipo de implemento a ser utilizado (montado nos três pontos, arrasto pela barra de tração);</ol>
    
    <ol>03 -Tipos e modelos dos pneus (simples ou duplos).</ol>
  </ul>
  
  <p>Considerando os fatores acima, um lastreamento apropriado permite você usar eficientemente a potência disponível de seu trator, porém, se o implemento for muito pesado e não for compatível com o trator (peso x potência) não haverá desempenho satisfatório, considere que a adição de mais lastro contribuirá para desequilibrar o conjunto trator/implemento, alterando inclusive os índices de patinagens.</p>
    
    
    <h2>DANOS PERMANENTES NOS PNEUS</h2>
  
  
  <p>Em operação e com calibragem correta e correta distribuição dos pesos nos eixos dianteiros e traseiros, os pneus apresenta uma acomodação da banda de rodagem (garras) no solo. Com excesso de pressão, haverá quebra na base das garras e a falta de pressão ocorrerá maior rugosidade dos pneus e rachaduras nos flancos. Ainda, a pressão inadequada dos pneus altera os índices de patinagem afetando na tração. Deve-se obedecer ao limite de peso estipulado pelo fabricante e regularmente conferir a calibração. Também é importante verificar visualmente as características dos pneus.</p>
  
  <h2>ETAPAS do EQUILÍBRIO OPERACIONAL</h2>
  
  <p>Para os ajustes do equilíbrio operacional dos tratores são necessários 6 etapas, conforme segue:</p>
  
  <ul>
    <ol>01 – COLETA de INFORMAÇÕES, IDENTIFICAÇÕES e REGISTRO DOS DADOS</ol>
    
    <ol>02 – IDENTIFICAÇÃO da RELAÇÃO do PESO x POTÊNCIA (Kg/cv)</ol>
    
    <ol>03 – DISTRIBUÍÇÃO dos PESOS (metálico e líquido)</ol>
    
    <ol>
      04 – PRESSÃO dos PNEUS (Lb/Pol²)
      
    </ol>
    <ol>05 – VERIFICAÇÃO do AVANÇO do EIXO DIANTEIRO (1 à 5%)</ol>
    
    <ol>06 – VERIFICAÇÃO do ÍNDICE de PATINAGEM</ol>
  </ul>
  
  <p>Para obter o melhor aproveitamento da capacidade tração de um trator é preciso observar o tipo e a condição do solo, as dimensões e elementos de tração, o tipo de pneu e a distribuição de carga com isso estabelecer o equilíbrio operacional do trator, ajustando o Avanço do Eixo Dianteiro (1 a 5%) e os índices de patinagem de acordo com o solo e implemento/equipamento acoplado.</p>
  
  
    
      <a href="{%url 'cadastrostrator'%}"class="btn btn-success">Cadastrar equipamentos</a>
         
  
      <a href="{%url 'cadastrospneus'%}"class="btn btn-success">Cadastrar pneus</a>
  
      
  
  
      <a href="{%url 'calcular'%}"class="btn btn-success">Calcular Lastro</a>
     
  
      <a href="{%url 'cadastro'%}"class="btn btn-success">Histórico</a>
  
  
  </Main>
  
  <footer>Desenvolvido por Carlos Henrique Veche</footer>
</body>
</html>
